<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue getting started</title>
    <script src="../node_modules/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <h3>1.无参访问：通过$emit访问外部函数</h3>
    <div :style="{ fontSize: fontSize + 'em' }">
        <blog-post :post="lastBlog" @enlarge-text="enlargeText" @recover-text="recoverText"></blog-post>
    </div>

    <h3>2.有参访问：通过$event作为形参</h3>
    <div :style="{ fontSize: fontSizeNew + 'em' }">
        <blog-post-new :post="lastBlog" @enlarge-text="enlargeTextNew($event)" @recover-text="recoverTextNew($event)"></blog-post-new>
    </div>

     <h3>3.组件上的v-model</h3>
    <ul>
        <li>
            v-model<br/>
            <input v-model="searchText"> 你输入的是：{{searchText}}
        </li>
        <li>
            v-bind<br/>
            <input v-bind:value="searchText" v-on:input=" searchText = $event.target.value"> 你输入的是：{{searchText}}
        </li>
        <li>
            自定义组件<br/>
            (1)v-bind方式
            <custom-input :value="searchText" @input="searchText = $event"></custom-input> 你输入的是：{{searchText}}<br/>
            (2)v-model方式
            <custom-input v-model="searchText"></custom-input> 你输入的是：{{searchText}}
        </li>
    </ul>

</div>
<script>
    Vue.component('blog-post', {
        props:['post'],
        template:
            `<div>
                <h4>标题：{{ post.title }}</h4>
                <p>内容：{{ post.content }}</p>
                <button @click="$emit('enlarge-text')">放大字体</button>
                <button @click="$emit('recover-text')">缩小字体</button>
             </div>`
    });

    Vue.component('blog-post-new', {
        props:['post'],
        template:
            `<div>
                <h4>标题：{{ post.title }}</h4>
                <p>内容：{{ post.content }}</p>
                <button @click="$emit('enlarge-text', 0.5)">放大字体</button>
                <button @click="$emit('recover-text', 0.5)" >缩小字体</button>
             </div>`
    });

    Vue.component('custom-input', {
        props: ['value'],
        template: `<input :value="value" @input="$emit('input', $event.target.value)">`
    });

    new Vue({
        el: '#app',
        data: {
            lastBlog: {
                title: 'vue如何向上传递信息？',
                content: 'vue内建了$emit方法，用于调用父作用域方法'
            },
            fontSize: 1,
            fontSizeNew: 1,
            searchText: 'hello vue!'
        },
        methods:{
            enlargeText(){
                this.fontSize++
            },
            recoverText(){
                this.fontSize--
            },
            enlargeTextNew(chunck){
                this.fontSizeNew+=chunck
            },
            recoverTextNew(chunck){
                this.fontSizeNew-=chunck
            },
        }
    });
</script>
</body>
</html>