<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue getting started</title>
    <script src="../../node_modules/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <div>
        propA:
        <input type="radio" v-model="propsData.a" value="10">数字10
        <input type="radio" v-model="propsData.a" value="'10'">字符串10
    </div>
    <div>
        propB:
        <input type="radio" v-model="propsData.b" value="10">数字10
        <input type="radio" v-model="propsData.b" value="'10'">字符串10
    </div>





    <my-component
            :prop-a="propsData.a"
            :prop-b="propsData.b"
            :prop-c="propsData.c"
            :prop-f="propsData.f"
    ></my-component>

    <h2>type的值可为：</h2>
    <ul>
        <li>String</li>
        <li>Number</li>
        <li>Boolean</li>
        <li>Function</li>
        <li>Object</li>
        <li>Array</li>
        <li>Symbol</li>
        <li>自定义构造函数</li>
    </ul>
</div>
<script>
    Vue.component('my-component', {
        props: {
            //数字类型校验
            propA: Number,

            //多类型校验
            propB: [Object, Number],

            //必传项校验
            propC: {
                type: String,
                required: true
            },

            //带默认值的数字类型校验
            propD: {
                type: Number,
                default: 100
            },

            //对象类型校验，默认值必须是个工厂函数
            propE: {
                type: Object,
                default: function () {
                    return {
                        message: '对象默认值必须要用一个工厂方法！！！'
                    }
                }
            },

            //自定义校验
            propF: {
                validator: function (value) {
                    return ['success', 'warning', 'danger'].indexOf(value) !== -1
                }
            }
        },
        template: `
            <ul>
               <li>propA（数字类型校验）: {{propA}}</li>
               <li>propB（多类型校验）: {{propB}}</li>
               <li>propC（必传项校验）: {{propC}}</li>
               <li>propD（带默认值的数字类型校验）: {{propD}}</li>
               <li>propE（对象类型校验）: {{propE}}</li>
               <li>propF（自定义校验）: {{propF}}</li>
            </ul>
        `
    });

    new Vue({
        el: '#app',
        data: {
            propsData: {
                a: 10,
                b: {},
                c: 'vue!',
                f: 'success'
            }
        }
    });
</script>
</body>
</html>