<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for on object</title>
    <script src="../node_modules/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <h2>1.value in object</h2>
    <ul>
        <li v-for="value in user">{{value}}</li>
    </ul>

    <h2>2.(value, key) in object</h2>
    <ul>
        <li v-for="(value, key) in user">{{key}}: {{value}}</li>
    </ul>

    <h2>2.(value, key, index) in object</h2>
    <ul>
        <li v-for="(value, key, index) in user">{{index}}. {{key}}: {{value}}</li>
    </ul>

    <strong style="color: red">*迭代对象的顺序是基于Object.keys()的枚举顺序，无法保证跨js引擎实现的一致性</strong>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            user: {
                firstName: 'yu',
                lastName: 'yongyu',
                birthday: '1991-7-21',
                job: 'programmer'
            }
        }
    });
</script>
</body>
</html>