<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue getting started</title>
    <script src="../../node_modules/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <h3>v-model会忽略表单元素的value、checked、selected属性，它把Vue实例的data作为数据源（the source of truth.），所以应该在组件中data项中声明初始值。</h3>
    <dl>
        <dt>1.文本框</dt>
        <dd>
            <input placeholder="输入文本" v-model="textValue">

            <br/>你输入的内容：
            <div>{{textValue}}</div>
        </dd>
    </dl>

    <dl>
        <dt>2.文本域</dt>
        <dd>
            <textarea placeholder="输入多行文本" v-model="textareaValue"></textarea>

            <br/>你输入的内容：
            <div style="white-space: pre-line;">{{textareaValue}}</div>
        </dd>
    </dl>

    <dl>
        <dt>3.复选框</dt>
        <dd>
            <strong>单复选框</strong><br/>
            <input id="s-cb" type="checkbox" v-model="singleCheckboxValue">
            <label for="s-cb">{{singleCheckboxValue}}</label>
        </dd>
        <dd>
            <strong>单复选框</strong><br/>
            <input id="m-cb-1" type="checkbox"  :value="'刘备'" v-model="multipleCheckboxValues">
            <label for="m-cb-1">刘备</label>
            <input id="m-cb-2" type="checkbox"  :value="'关羽'" v-model="multipleCheckboxValues">
            <label for="m-cb-2">关羽</label>
            <input id="m-cb-3" type="checkbox"  :value="'张飞'" v-model="multipleCheckboxValues">
            <label for="m-cb-3">张飞</label>
            <div>
                multipleCheckboxValues:{{multipleCheckboxValues}}
            </div>
        </dd>
    </dl>

    <dl>
        <dt>4.单选按钮</dt>
        <dd>
            <input type="radio" id="m" :value="'男'" v-model="radioValue">
            <label for="m">男</label>
            <input type="radio" id="f" :value="'女'" v-model="radioValue">
            <label for="f">女</label>

            <br/>你选择的性别：
            <div style="white-space: pre-line;">{{radioValue}}</div>
        </dd>
    </dl>

    <dl>
        <dt>4.下拉框</dt>
        <dd>
            <strong>下拉单选框</strong><br/>
            <select v-model="singleSelectValue">
                <option disabled :value="''">请选择</option>
                <option>貂蝉</option>
                <option>西施</option>
                <option>昭君</option>
                <option>玉环</option>
            </select>
            <div>
                你选择的美女：{{singleSelectValue}}
            </div>
        </dd>
        <dd>
            <strong>下拉多选框</strong><br/>
            <select v-model="multipleSelectValue" multiple>
                <option disabled :value="''">请选择</option>
                <option>貂蝉</option>
                <option>西施</option>
                <option>昭君</option>
                <option>玉环</option>
            </select>
            <div>
                你选择的美女：{{multipleSelectValue}}
            </div>
        </dd>
    </dl>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            textValue: '',
            textareaValue: '',
            singleCheckboxValue: false,
            multipleCheckboxValues: [],
            radioValue: '男',
            singleSelectValue: '',
            multipleSelectValue: []
        }
    });
</script>
</body>
</html>