<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for on array</title>
    <script src="../node_modules/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <h2>1.item in items</h2>
    <ul>
        <li v-for="directive in conditionalDirectives">{{directive}}</li>
    </ul>

    <h2>2.(item, index) in items，v-for区域可以访问父作用域属性</h2>
    <div v-for="(directive, index) in conditionalDirectives">
        {{message}}: {{index}} - {{directive}}
    </div>


    <h2>3.(item, index) of items，of和in作用一样</h2>
    <ul>
        <li v-for="directive of conditionalDirectives">{{directive}}</li>
    </ul>
</div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            message: 'conditional directive',
            conditionalDirectives: ['v-if', 'v-if-else', 'v-else', 'v-show']
        }
    });
</script>
</html>