<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-if</title>
    <script src="../node_modules/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <h1>1. v-if、v-else-if、v-else</h1>

    <h3>切换单选框，观察效果</h3>
    <input type="radio" id="one" value="A" v-model="type">
    <label for="one">A</label>
    <br>
    <input type="radio" id="two" value="B" v-model="type">
    <label for="two">B</label>
    <br>
    <input type="radio" id="three" value="C" v-model="type">
    <label for="two">C</label>
    <br>

    <div v-if="type == 'A'">
        v-if绑定到单个元素上
    </div>
    <template v-else-if="type == 'B'">

        <p>如果不止一个元素怎么办? </p>
        <strong>
            用template元素将多个元素包裹起来，然后加上v-if
        </strong>
        <strong>
            template元素是一个不可见的元素，最终的渲染结果不包含此元素
        </strong>
    </template>
    <div v-else="type == 'C'">
        v-else的元素必须紧跟在v-if或v-else-if的元素后面，否则会被忽略
    </div>

    <h1>2.用key控制可服用的元素</h1>
    <h2>vue尽可能第高效渲染元素，经常复用元素，而不是每次从零渲染</h2>
    <i>下面的例子，输入内容后，切换loginType后，用户输入内容不会被擦除</i><br/>
    <template v-if="loginType === 'username'">
        <label>Username</label>
        <input placeholder="Enter your username">
    </template>
    <template v-else>
        <label>Email</label>
        <input placeholder="Enter your email address">
    </template>
    <button @click="toggleLoginType()">toggle login type</button>

    <h2>
        通过给元素加上key属性，并赋以唯一的值，可以将元素完全分离
    </h2>
    <template v-if="loginType === 'username'">
        <label>Username</label>
        <input placeholder="Enter your username" key="username-input">
    </template>
    <template v-else>
        <label>Email</label>
        <input placeholder="Enter your email address" key="email-input">
    </template>
    <button @click="toggleLoginType()">toggle login type</button>

</div>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            type: 'A',
            loginType: 'username'
        },
        methods: {
            toggleLoginType: function () {
                if(this.loginType == 'username'){
                    this.loginType = 'email'
                }else{
                    this.loginType = 'username'
                }
            }
        }
    });
</script>
</body>
</html>